Source: sabily
Section: metapackages
Priority: optional
Maintainer: Sabily Team <sabily.team@lists.launchpad.net>
XSBC-Original-Maintainer: أحمد المحمودي (Ahmed El-Mahmoudy) <aelmahmoudy@users.sourceforge.net>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: po-debconf, debconf | debconf-2.0
Standards-Version: 3.8.4
Homepage: http://www.sabily.org
Vcs-Bzr: http://code.launchpad.net/~sabily.team/sabily/trunk
Vcs-Browser: http://code.launchpad.net/~sabily.team/sabily/trunk

Package: sabily
Architecture: all
Pre-Depends: sabily-artwork
Depends: ${misc:Depends}, minbar, zekr, monajat, thwab, firefox-praytimes, hijra-applet, islamic-menus
Suggests: webstrict
Replaces: ubuntume (<= 1.1~ppa7)
Description: Sabily
 Installs Islamic software and customizes the user interface.

Package: ubuntume
Architecture: all
Depends: ${misc:Depends}, sabily
Description: Sabily (transitional package)
 Installs Islamic software and customizes the user interface.
 .
 This is a dummy transitional package that will ensure a proper upgrade path.
 This package may be safely removed after upgrading.
