Source: ubuntume
Section: metapackages
Priority: optional
Maintainer: Ubuntu Muslim Edition Team <ubuntume@googlegroups.com>
XSBC-Original-Maintainer: أحمد المحمودي (Ahmed El-Mahmoudy) <aelmahmoudy@users.sourceforge.net>
Build-Depends: debhelper (>= 5.0.51~)
Build-Depends-Indep: po-debconf, debconf | debconf-2.0
Standards-Version: 3.7.3
Homepage: http://www.ubuntume.com
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntume.team/ubuntume/hardy
Vcs-Browser: http://bazaar.launchpad.net/~ubuntume.team/ubuntume/hardy

Package: ubuntume
Architecture: all
Depends: ${misc:Depends}, ubuntume-artwork, minbar, zekr, zekr-quran-translations-en, thwab-lib, firefox-praytimes, wallpaper-tray, glipper
Suggests: webstrict
Description: Ubuntu Muslim Edition
 Installs Islamic software and customizes the user interface.
